<div class="column">
  <section class="stat-chart">
    <header>
      <em class="measurement">{{stat.units}}</em>
      <h2>{{stat.title}}</h2>
    </header>
    <span class="stat-number">{{stat.stat}}</span>
  </section>
</div>
