{{#if message}}
  <div class="message">
    {{message}}
  </div>
{{/if}}

<form>
  {{input value=identification id="identification" placeholder="Email"}}
  {{input value=password type="password" id="password" placeholder="Password"}}

  <button type="submit" {{action 'authenticate'}}>Login</button>
</form>
