<form>
  {{input value=username id="username" placeholder="Username"}}
  {{input value=email id="email" placeholder="Email"}}
  {{input value=password id="password" placeholder="Password"}}

  <button type="submit" {{action 'signup' model}}>Signup</button>
</form>
