<form>
  {{input value=model.username id="username" placeholder="Username"}}
  {{input value=model.email id="email" placeholder="Email"}}
  {{input value=model.password id="password" placeholder="Password"}}

  <button type="submit" {{action 'signup' model}}>Signup</button>
</form>
