/******************************************************************************
 * BUTTONS *
 ******************************************************************************/

button[type="submit"]
  @extend .nav-button
  width: 100%
  padding: 15px 20px !important
  background: $nav_button_bg

/******************************************************************************
 * GENERAL *
 ******************************************************************************/

input
  color: #333
  outline: none
  border: $border
  border-radius: 3px

/******************************************************************************
 * LAYOUT *
 ******************************************************************************/

#edit
  padding: 10px
  border: $border
  overflow: hidden
  max-width: $sidebar_width
  border-radius: 4px
  margin: 10px auto
  input
    width: 100%
    display: block
    padding: $padding
    font-size: 1em
    &[type="text"],
    &[type="password"]
      margin-bottom: $margin
  button
    margin-top: $margin * 2

/******************************************************************************
 * ALERTS
 ******************************************************************************/

.message
  +box()
  background: white
  padding: $padding
  margin-bottom: $padding
  p
    font-size: 1em
    &:first-child
      margin: 0
