/* LAYOUT */

$padding: 10px
$margin: 5px

$sidebar_width: 300px

$table_head_height: 30px

$row_height: 50px

/* BACKGROUNDS */

$heading_bg: linear-gradient(#f9f9f9, #e6e6e6)

/* DIVISIONS */

$border: 1px solid #ccc
