<aside>
  <ul>
    {{#each model as |patient|}}
      <li>
        {{#link-to 'patients.index.show' patient.patientId}}{{patient.firstName}} {{patient.lastName}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>

{{outlet 'detail'}}
