<header id="main">
  <div class="container">

    {{#link-to 'index'}}<img id="logo" src="assets/logo.png"/>{{/link-to}}

    <ul id="user">
      <li><a id="user-icon"></a>
        <ul>
          {{#if session.isAuthenticated}}
            <li>{{#link-to 'account.edit'}}Account{{/link-to}}</li>
            <li><a {{action 'invalidateSession'}}>Logout</a></li>
          {{else}}
            <li><a {{action 'sessionRequiresAuthentication'}}>Login</a></li>
          {{/if}}
        </ul>
      </li>
    </ul>

  </div>
</header>

<div class="container">
  {{outlet}}
</div>
