<header>
  <div class="container">
    {{#link-to 'index'}}<img id="logo" src="assets/logo.png"/>{{/link-to}}
  </div>

  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    <button {{action 'sessionRequiresAuthentication'}}>Login</button>
  {{/if}}
</header>

<div id="main">
  {{outlet}}
</div>
