<header>
  <div class="container">
    {{#link-to 'index'}}<img id="logo" src="assets/logo.png"/>{{/link-to}}
  </div>
</header>

<!--<div class="url">URL: {{target.url}}</div>-->

<div id="main">
  {{outlet}}
</div>
