<div id="session">
  <div class="tabs">
    {{#link-to 'session.login' id="login" class="tab button"}}Login{{/link-to}}
    {{#link-to 'session.signup' id="signup" class="tab button"}}Signup{{/link-to}}
  </div>
  {{outlet}}
</div>
